<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-topbar></app-topbar>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                          class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>

                <!-- Content Row -->
                <div class="row">
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            No. Books</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">500</div>
                                    </div>
                                    <div class="col-auto">
                                        <fa-icon [icon]="faBook"></fa-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Available Books</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">300</div>
                                    </div>
                                    <div class="col-auto">
                                        <fa-icon [icon]="faBook"></fa-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">On Loan
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">120</div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <fa-icon [icon]="faBook"></fa-icon>
                                        <!-- <i class="fas fa-clipboard-list fa-2x text-gray-300"></i> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            All Authors</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                    </div>
                                    <div class="col-auto">
                                        <fa-icon [icon]="faUsers"></fa-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Row -->

                <!-- <div class="row"> -->
                <div class="col-md-12">
                    <div class="card">
                        <div card-header>
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                                <form>
                                    <div class="form-group">
                                        <input type="text" size="45" placeholder="Search book by name..." class="form-control rounded-0">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table-responsive">
                                <table class="table table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>IsBn</th>
                                            <th>Genre</th>
                                            <th>Status</th>
                                            <th>Summary</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of book | paginate: {itemsPerPage: 5, currentPage: p}">
                                            <td>{{item.title}}</td>
                                            <td>{{item.isbn}}</td>
                                            <td>{{item.genre}}</td>
                                            <td>{{item.status}}</td>
                                            <td>{{item.summary | slice:-10}} ....</td>
                                            <td>
                                                <a class="btn btn-primary btn-sm rounded-0">View More</a>
                                                <a class="btn btn-secondary btn-sm rounded-0">Edit</a>
                                                <a class="btn btn-danger btn-sm rounded-0">Delete</a>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </table>
                            <div class="d-flex justify-content-center align-items-center">
                                <pagination-controls (pageChange)="p=$event " class="my-pagination "></pagination-controls>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class=" col-md-4 ">
                    <div class="card ">
                        <div class="card-header ">Two</div>
                    </div>
                </div> -->
            </div>
            <!-- </div> -->
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->