<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <app-topbar></app-topbar>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Content area -->
                <div class="">
                    <div class="card shadow mb-4">
                        <!-- Card Header -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Authors</h6>
                            <form>
                                <div class="form-group">
                                    <input type="text" size="45" placeholder="Search author by name..." class="form-control rounded-0">
                                </div>
                            </form>
                            <button class="btn btn-secondary mb-3 rounded-0">Add Authors</button>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Date Of Birth</th>
                                                <th>Actions</th>

                                            </tr>
                                        </thead>

                                        <tbody>

                                            <tr *ngFor="let item of author">
                                                <td>{{item.first_name}}</td>
                                                <td>{{item.last_name}}</td>
                                                <td>{{item.date_of_birth}}</td>
                                                <td>
                                                    <a class="btn btn-primary btn-sm rounded-0">View more</a>
                                                    <a class="btn btn-info btn-sm rounded-0">Edit</a>
                                                    <a class="btn btn-danger btn-sm rounded-0">Delete</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <h4>{{author[0].books}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->